<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Resultado</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f8f9fa;
      margin: 0;
    }
    main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>

  <main>
    <h1 class="text-center mb-3">🍷 Resultado de la calidad es:</h1>
    <h1 class="text-center">→ {{ prediction }} ←</h1>
  </main>

  <footer class="bg-dark text-white text-center py-3">
    <p class="mb-0">Cursada 2025 - Inteligencia Artificial. <br>
    Alumnos: Cruz Yamil - Vidili Facundo.</p>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
